# Server Port
PORT=3000

# Connection String PostgreSQL
DATABASE_URL=postgresql://postgres:adminDb@localhost:5432/bayaran_madrasah

# Connection String Redis
REDIS_URL=redis://localhost:6379

# JWT Secret untuk Autentikasi User
JWT_SECRET=super-secret-key-madrasah-2026-bun
